{{/* Approach 2 <html>
<body>
<p>
{{template "page" .}}

<p>CopyRight Adam Solomon 2025 </p>
</body>
</html> */}}

{{/* Approach1  */}}
{{define "header"}}
<html>
    <body>
{{end}}

{{define "footer"}}
<p>CopyRight Adam Solomon 2025<p>
</body>
</html>
{{end}}