<h1>FAQ Page</h1>
<ul>
 {{range .}}
 {{template "qa" .}}
 {{end}}
{{/* <pre>{{.}} the . is used to render data into the named template </pre> */}}
{{define "qa"}}
<li><b>{{.Question}}</b> {{.Answer}} </li>
{{end}}
